/* This file is for your main application css. */
html, body {
    background-color:#e4e4e4;
    font-family: 'Athiti', sans-serif;
    font-size: 22px;
}

.navbar {
    background-color:#cccccc; /*<-- color in case rgba not supported by browsers*/
    background-color:rgba(204, 204, 204, 1);
    min-height: 80px;
}
.navbar .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-brand {
  font: 400 65px/1.3 'Fascinate Inline', cursive;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  padding-top: 0px;
  font-weight: bold;
}
.navbar-nav>li>a {
    font-family: 'Roboto Mono', monospace;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    color: black;
    font-size: 23px;
    margin-top: 20px;
}
.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #CCCCCC;
    background-color: rgba(204, 204, 204, 0.5);
    color: #01c5d0;
}
.navbar-brand:hover {
     color: #01c5d0;
}
#mainContent {
  margin-top: 200px;
}
#facebookBtn {
  display: inline-block;
  float: left;
  margin-left: 700px;
  margin-top: -21px;
  margin-bottom: 8px;
  background-color: #01c5d0;
  border: none;
}
#greeting{
  font-family: 'Days One', sans-serif;
  font-weight: 800;
  font-size: 43px;
  color: #01c5d0;
}
#chatSubBtn{
  background-color: #01c5d0;
  font-weight: 800;
}
#chat{
  margin-top: 30px;
}
#grChatHeading,#usersHeading,#searchLabel{
  font-family: 'Days One', sans-serif;
  color: #01c5d0;
}
#submitPlist{
    background-color: #01c5d0;
}
#messagelist,#userlist{
  background-color: #ffffff;
}
#newMessage{
  width: 90%;
}
